@{
ViewData["Title"] = MobizAdmin.Resources.Layout.Layout.Manager;
}

    <div class="toppane row">
        <div class="form-group">
            <div id="modal-placeholder"></div>
        </div>
        <br style="clear:both;" />
        <div class="form-group">
            <label class="control-label" style="border: 1px solid black; background-color: gray;" onclick="CreateServiceModal()">@MobizAdmin.Resources.Create.Create.Create_Service</label>
            <select asp-items="@ViewBag.Services" onchange="ServiceSelected(this.value)" id="ServiceSelect">
                <option value="">-@MobizAdmin.Resources.Create.Create.Select_Service-</option>
            </select>
        </div>
        <div class="form-group">
            <label id="SelectRate" style="border: 1px solid black; background-color: gray;" class="control-label" onclick="CreateServiceRateModal()">@MobizAdmin.Resources.Create.Create.Create_Service_Rate</label>
            <select id="ServiceRateSelect" onchange="ServiceRateSelected(this.value)">
                <option value="">-@MobizAdmin.Resources.Create.Create.Select_Service_Rate-</option>
            </select>
        </div>
        <div class="ServiceDetails">
            <span style="float:left;margin-right:20px;">
                <label>@MobizAdmin.Resources.Create.Create.ServiceId</label>
                <input readonly id="ServiceId" />
            </span>
            <span style="float:left">
                <label>@MobizAdmin.Resources.Create.Create.ServiceName</label>
                <input readonly id="ServiceName" />
            </span>
        </div>
        <div class="form-group">
            <label class="control-label">Select Language</label>
            <select id="ServiceLanguageSelect"  style="width:100px;" onchange="ServiceLanguageSelected(this.value)">
            </select>
        </div>
        <div class="details">
            <span style="float:left;margin-right:20px;">
                <label>@MobizAdmin.Resources.Create.Create.defDate</label>
                <input type="date" onChange="UpdateDateTime(this)" id="defDate" />
            </span>
            <span style="float:left;margin-right:20px;">
                <label>@MobizAdmin.Resources.Create.Create.appDate</label>
                <input type="date" onChange="UpdateDateTime(this)" id="appDate" />
            </span>
            <span style="float:left;margin-right:20px;">
                <label>@MobizAdmin.Resources.Create.Create.endDate</label>
                <input type="date" onChange="UpdateDateTime(this)" id="endDate" />
            </span>
            <span style="float:left;margin-right:20px;">
                <label>@MobizAdmin.Resources.Create.Create.verNum</label>
                <input readonly id="verNum" size="1" />
            </span>
            <span style="float:left;margin-right:20px;">
                <label>Locked</label>
                <input type="checkbox" style="display: none;" id="locked" name="locked" onchange="UpdateLocked()" size="1" />
                <label for="locked" class="imgLocked"><img></label>
            </span>
            <span style="float:left;margin-right:20px;">
                <label>nQuotes</label>
                <input readonly id="nQuotes" size="1" />
            </span>
            <span style="float:left;margin-right:20px;">
                <label>Duplicate:</label>
                <input type="button" onclick="DuplicateVernum()" id="DuplicateVerNum" value="Duplicate VerNum" />
            </span>
            <span style="float:left;margin-right:20px;">
                <label>Duplicate for Other Service:</label>
                <input type="button" onclick="DuplicateVerNumOtherServiceModal()" id="DuplicateVerNum" value="Duplicate VerNum" />
            </span>
        </div>
    </div>
<div class="bottompane row">
    <div class="leftpane col">
        <h4>@MobizAdmin.Resources.Create.Create.Rates_Details</h4>
        <table id="RatesDetails" data-Categorie=@MobizAdmin.Resources.Create.Create.Categorie
               data-Grouping=@MobizAdmin.Resources.Create.Create.Grouping>
        </table>
        <hr width="100%" />
        <h4>@MobizAdmin.Resources.Create.Create.Rates_Categories</h4>
        <table id="RatesCategories" data-Categorie=@MobizAdmin.Resources.Create.Create.Categorie
               data-Grouping=@MobizAdmin.Resources.Create.Create.Grouping>
        </table>
        <div class="form-group">
            <label id="SelectRate" style="border: 1px solid black; background-color: gray;" class="control-label" onclick="CreateRateCategorieModal()">@MobizAdmin.Resources.Create.Create.Create_Rate_Categorie</label>
        </div>
    </div>
    <div class="middlepane col">
        <h4>@MobizAdmin.Resources.Create.Create.Conditions</h4>
        <textarea class="form-control" id="Conditions" onchange="UpdateDetailConditions()"></textarea>
        <h4 class="control-label">@MobizAdmin.Resources.Create.Create.Variables</h4>
        <div id="Variables" name="Variables">
            <div>
                <label>@MobizAdmin.Resources.Create.Create.Date_Time_Order</label>
                <input type="datetime-local">
            </div>
            <div>
                <label>@MobizAdmin.Resources.Create.Create.Date_Time_PickUp</label>
                <input type="datetime-local" id="DateTimePickUp">
            </div>
            <div>
                <label>@MobizAdmin.Resources.Create.Create.Kms</label>
                <input type="number" name="Kms" id="Kms" />
            </div>
            <div>
                <label>@MobizAdmin.Resources.Create.Create.Minutes_Drive</label>
                <input type="number" name="Drive" id="Drive" />
            </div>
            <div>
                <label>@MobizAdmin.Resources.Create.Create.Minutes_Wait</label>
                <input type="number" name="Wait" id="Wait" />
            </div>
            <div>
                <label>@MobizAdmin.Resources.Create.Create.Pax</label>
                <input type="number" id="Pax" />
            </div>
            <div id="Option">

            </div>
            <br>
            <div id="VehicleType">

            </div>
            <div>
                <label>@MobizAdmin.Resources.Create.Create.Promo_Code</label>
                <input id="Promo" />
            </div>
            <div>
                <br />
                <button type="button" onclick="SimulateTrip()">@MobizAdmin.Resources.Create.Create.Simulate</button>
            </div>
            <div>
                <label>@MobizAdmin.Resources.Create.Create.Price</label>
                <input readonly id="Price" />
            </div>
        </div>
    </div>
    <div class="rightpane col" name="Default" id="Defaults">
        <h4>@MobizAdmin.Resources.Create.Create.Defaults</h4>
        <div name="EurKm" id="EurKm">
            <label>@MobizAdmin.Resources.Create.Create.EurKm:</label>
            <input size="1" id="EurKmOp" maxlength="1" onkeypress="return blockSpecialChar(event)" onchange="InsertRateTargets(this)" name="Op" />
            <input size="1" id="EurKmFigure" name="Figure" onchange="InsertRateTargets(this)" type="number" />
            <input size="1" id="EurKmDefault" onchange="UpdateDefaults(this)" name="Default" type="number" />
            <input type="checkbox" value="EurKm" name="EurKmCheckbox" class="chBox" onchange="RateTargetCheckBox(this.value)" id="EurKmCheckbox" />
            <label style="display:inline" for="EurKmCheckbox" class="imgLabel"><img></label>
        </div>
        <div name="EurMinDrive" id="EurMinDrive">
            <label>@MobizAdmin.Resources.Create.Create.EurMinDrive:</label>
            <input size="1" id="EurMinDriveOp" maxlength="1" onkeypress="return blockSpecialChar(event)" onchange="InsertRateTargets(this)" name="Op" />
            <input size="1" id="EurMinDriveFigure" onchange="InsertRateTargets(this)" name="Figure" type="number" />
            <input size="1" id="EurMinDriveDefault" onchange="UpdateDefaults(this)" name="Default" type="number" />
            <input type="checkbox" value="EurMinDrive" name="EurMinDriveCheckbox" onchange="RateTargetCheckBox(this.value)" id="EurMinDriveCheckbox" />
            <label style="display:inline" for="EurMinDriveCheckbox" class="imgLabel"><img></label>
        </div>
        <div name="EurMinWait" id="EurMinWait">
            <label>@MobizAdmin.Resources.Create.Create.EurMinWait:</label>
            <input size="1" id="EurMinWaitOp" maxlength="1" onkeypress="return blockSpecialChar(event)" onchange="InsertRateTargets(this)" name="Op" />
            <input size="1" id="EurMinWaitFigure" onchange="InsertRateTargets(this)" name="Figure" type="number" />
            <input size="1" id="EurMinWaitDefault" onchange="UpdateDefaults(this)" name="Default" type="number" />
            <input type="checkbox" value="EurMinWait" name="EurMinWaitCheckbox" onchange="RateTargetCheckBox(this.value)" id="EurMinWaitCheckbox" />
            <label style="display:inline" for="EurMinWaitCheckbox" class="imgLabel"><img></label>
        </div>
        <div name="EurMinimum" id="EurMinimum">
            <label>@MobizAdmin.Resources.Create.Create.EurMinimum:</label>
            <input size="1" id="EurMinimumOp" maxlength="1" onkeypress="return blockSpecialChar(event)" onchange="InsertRateTargets(this)" name="Op" />
            <input size="1" id="EurMinimumFigure" onchange="InsertRateTargets(this)" name="Figure" type="number" />
            <input size="1" id="EurMinimumDefault" onchange="UpdateDefaults(this)" name="Default" type="number" />
            <input type="checkbox" value="EurMinimum" name="EurMinimumCheckbox" onchange="RateTargetCheckBox(this.value)" id="EurMinimumCheckbox" />
            <label style="display:inline" for="EurMinimumCheckbox" class="imgLabel"><img></label>
        </div>
        <div name="MaxPax" id="MaxPax">
            <label>@MobizAdmin.Resources.Create.Create.MaxPax:</label>
            <input size="1" id="MaxPaxOp" maxlength="1" onkeypress="return blockSpecialChar(event)" onchange="InsertRateTargets(this)" name="Op" />
            <input size="1" id="MaxPaxFigure" onchange="InsertRateTargets(this)" name="Figure" type="number" />
            <input size="1" id="MaxPaxDefault" onchange="UpdateDefaults(this)" name="Default" type="number" />
            <input type="checkbox" value="MaxPax" name="MaxPaxCheckbox" onchange="RateTargetCheckBox(this.value)" id="MaxPaxCheckbox" />
            <label style="display:inline" for="MaxPaxCheckbox" class="imgLabel"><img></label>
        </div>
        <div name="TotalPrice" id="TotalPrice">
            <label>@MobizAdmin.Resources.Create.Create.Total:</label>
            <input size="1" id="TotalPriceOp" maxlength="1" onkeypress="return blockSpecialChar(event)" onchange="InsertRateTargets(this)" name="Op" />
            <input size="1" id="TotalPriceFigure" onchange="InsertRateTargets(this)" name="Figure" type="number" />
            <input type="checkbox" value="TotalPrice" name="TotalPriceCheckbox" onchange="RateTargetCheckBox(this.value)" id="TotalPriceCheckbox" />
            <label style="display:inline" for="TotalPriceCheckbox" class="imgLabel"><img></label>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Manager.js"></script>
    <script type="text/javascript">
        var ServiceId = '@ViewData["ServiceId"]';
        var VerNum = '@ViewData["VerNum"]';
        if (ServiceId.length > 0) {
            $('#ServiceSelect').val(ServiceId).change();
        }
        if (ServiceId.length > 0 && VerNum.length > 0) {
            setTimeout(() => {  $('#ServiceRateSelect').val(VerNum).change(); }, 1000);
        }
    </script>
}