@model IEnumerable<MobizAdmin.Data.Servicerates>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServiceRates</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DefDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurMinDrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurMinWait)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurMinimum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tsu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tsd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DefDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinDrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinWait)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinimum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tsi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tsu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VerNum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VerNum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VerNum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
