@model MobizAdmin.Data.Ratesdetails

@{
    ViewData["Title"] = "CreateRateDetails";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create RateDetails</h1>

<h4>Create Ratesdetails</h4>
<h4>Service: @ViewData["ServiceName"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRateDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vernum" class="control-label"></label>
                <input asp-for="Vernum" value="@ViewData["VerNum"]" readonly class="form-control" />
            </div>
            <div class="form-group"> 
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Ratecategories">
                    <option value="0">-Select Category-</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RateFigure" class="control-label"></label>
                <input asp-for="RateFigure" class="form-control" />
                <span asp-validation-for="RateFigure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateOperator" class="control-label"></label>
                <select asp-for="RateOperator" class="form-control">
                    <option value="0">-Select Operator-</option>
                    <option value="+">+</option>
                    <option value="*">*</option>
                    <option value="=">=</option>
                    <option value="%">%</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RateTarget" class="control-label"></label>
                <select asp-for="RateTarget" class="form-control" asp-items="@ViewBag.Ratetargets">
                    <option value="0">-Select Target-</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Tsi" class="control-label"></label>
                <input asp-for="Tsi" class="form-control" />
                <span asp-validation-for="Tsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tsu" class="control-label"></label>
                <input asp-for="Tsu" class="form-control" />
                <span asp-validation-for="Tsu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tsd" class="control-label"></label>
                <input asp-for="Tsd" class="form-control" />
                <span asp-validation-for="Tsd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" asp-route-ServiceName="@ViewData["ServiceName"]"  class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RateDetails" asp-route-VerNum="@ViewData["VerNum"]" asp-route-ServiceName="@ViewData["ServiceName"]" asp-route-ServiceId="@ViewData["ServiceId"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
