@model MobizAdmin.Data.RatesDetailsModel
@{
    ViewData["Title"] = MobizAdmin.Resources.Services.ServicesText.Create_Service_Details;
}
    <h1> @MobizAdmin.Resources.Services.ServicesText.Create_Service_Details</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateServiceDetails" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label>@MobizAdmin.Resources.Services.ServicesText.Select_Service</label>
                @Html.DropDownListFor(m => m.ServiceId, Model.Services, @MobizAdmin.Resources.Services.ServicesText.Please_select, new { onchange = "this.form.submit()" })
            </div>
            <div>
                <label>@MobizAdmin.Resources.Services.ServicesText.Select_Service_Rates</label>
                @Html.DropDownListFor(m => m.VerNum, Model.ServiceRates, @MobizAdmin.Resources.Services.ServicesText.Please_select, new { onchange = "this.form.submit()" })
            </div>
        </form>
    </div>
</div>