@model IEnumerable<MobizAdmin.Data.Services>

@{
    ViewData["Title"] = "ServicesList";
}

<h1>Services List</h1>

<p>
    <a asp-action="CreateService">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                <a asp-action="ServiceRates" asp-route-ServiceId="@item.Id" asp-route-ServiceName="@item.ServiceName">Service Rates</a> |
                <a asp-action="ServiceDetails" asp-route-ServiceId="@item.Id">Service Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
