@model IEnumerable<MobizAdmin.Data.Servicerates>

@{
    ViewData["Title"] = "Service Rates";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Service Rates</h1>
<h4>Service: <u>@ViewData["ServiceName"]</u></h4>
<p>
    <a asp-action="CreateServiceRate" asp-route-ServiceId="@ViewData["ServiceId"]"  asp-route-ServiceName="@ViewData["ServiceName"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VerNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurMinDrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurMinWait)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurMinimum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tsu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tsd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VerNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinDrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinWait)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinimum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tsi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tsu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tsd)
            </td>
            <td>
                <a asp-action="RateDetails" asp-route-VerNum="@item.VerNum"  asp-route-ServiceId="@ViewData["ServiceId"]" asp-route-ServiceName="@ViewData["ServiceName"]" asp-controller="Services">Rate Details</a>
            </td>
        </tr>
            }
    </tbody>
</table>
<div>
    <a asp-action="Services">Back to List</a>
</div>
