@model IEnumerable<MobizAdmin.Data.Services>

@{
    ViewData["Title"] = MobizAdmin.Resources.Layout.Layout.Services_List;
}

    <h1>@MobizAdmin.Resources.Layout.Layout.Services_List</h1>

<p>
    <a asp-action="CreateService">@MobizAdmin.Resources.Services.ServicesText.Create_New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.Id
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.Service_Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                <a asp-action="ServiceRates" asp-route-ServiceId="@item.Id" asp-route-ServiceName="@item.ServiceName">@MobizAdmin.Resources.Services.ServicesText.Service_Rates</a> |
                <a asp-action="ServiceDetails" asp-route-ServiceId="@item.Id">@MobizAdmin.Resources.Services.ServicesText.Service_Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
