@model IEnumerable<MobizAdmin.Data.Servicerates>

@{
    ViewData["Title"] = "ServiceRates";
}

<h1>Service Rates</h1>
<h4>Service Name: <u>@ViewData["ServiceName"]</u></h4>

<p>
    <a asp-action="CreateServiceRate" asp-route-ServiceId="@ViewData["ServiceId"]" asp-route-ServiceName="@ViewData["ServiceName"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VerNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurMinDrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurMinWait)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurMinimum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NQuotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tsu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tsd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VerNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinDrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinWait)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinimum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NQuotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tsi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tsu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tsd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VerNum">Edit</a> |
                <a asp-action="RateDetails" asp-route-id="@item.VerNum" asp-route-ServiceId="@ViewData["ServiceId"]" asp-route-ServiceName="@ViewData["ServiceName"]">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="ServicesList">Back to List</a>
</div>