@model IEnumerable<MobizAdmin.Data.Servicerates>

@{
    ViewData["Title"] = MobizAdmin.Resources.Services.ServicesText.Service_Rates;
}

    <h1>@MobizAdmin.Resources.Services.ServicesText.Service_Rates</h1>
    <h4>@MobizAdmin.Resources.Services.ServicesText.Service_Name: <u>@ViewData["ServiceName"]</u></h4>

<p>
    <a asp-action="CreateServiceRate" asp-route-ServiceId="@ViewData["ServiceId"]" asp-route-ServiceName="@ViewData["ServiceName"]">@MobizAdmin.Resources.Services.ServicesText.Create_New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.VerNum
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.Lexo
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.DefDate
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.AppDate
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.EndDate
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.EurKm
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.EurMinDrive
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.EurMinWait
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.EurMinimum
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.MaxPax
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.Locked
            </th>
            <th>
                @MobizAdmin.Resources.Services.ServicesText.NQuotes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="background-color: @(item.Tsd <= DateTime.Now ? "#F44336": "");">
            <td>
                @Html.DisplayFor(modelItem => item.VerNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinDrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinWait)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EurMinimum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NQuotes)
            </td>
            <td>
                @if (item.Tsd <= DateTime.Now)
                {
                    <b>Disabled</b>}
                else
                {
                    <a asp-controller="ServicesManager" asp-action="ManagerServiceRateSelected" asp-route-VerNum="@item.VerNum">@MobizAdmin.Resources.Layout.Layout.Manager</a>
                    @if (item.NQuotes == 0)
                    {
                        <a asp-action="DeleteServiceRate" asp-route-VerNum="@item.VerNum" asp-route-ServiceId="@ViewData["ServiceId"]" asp-route-ServiceName="@ViewData["ServiceName"]"> | Disable</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="ServicesList">@MobizAdmin.Resources.Services.ServicesText.Back_to_List</a>
</div>